<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>CodePen - Sign up / Login Form</title>
  <link rel="stylesheet" href="./login.component.css">

</head>

<body>
  <!-- partial:index.partial.html -->
  <!DOCTYPE html>
  <html>

  <head>
    <title>Slide Navbar</title>
  </head>

  <body>
    <div class="main">
      <input type="checkbox" id="chk" aria-hidden="true">
      <div class="login">
        <form>
          <label for="chk" aria-hidden="true">Login</label>
          <input type="email" name="email" placeholder="Email" required="">
          <input type="password" name="pswd" placeholder="Password" required="">
          <button>Login</button>
        </form>
        <p>New User? signup</p>
      </div>
    </div>
  </body>

  </html>
  <!-- partial -->

</body>

</html>
